body{
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0%;
}

#h1-line {
  padding-left: 130px;
}
.font-01 h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.font-01 p{
    color: white;
}

.font-01{
    padding-top: 130px;
    padding-left: 250px;
}
.font-01{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 
}
.Paragph-01{
    padding-left: 200px;
}
#P1-line{
    padding-left: 110px;
}
.anchor-text{
    
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 700;

}
.a-text{
    padding-left: 380px;
    padding-top: 20px;
}
.font-02{
    padding-bottom: 100px;
    
}
.part-02 h1{
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
}
.part-02 p{
    text-align: center;
}

.donate-tk h1{
  width: 80px;
  border-radius: 10px;
  padding: 40px 30px;
  margin: 10px;
  background-color : rgba(128, 128, 128, 0.141);
  text-align: center;
  
}

section .donate-tk{
    display: flex;
}
.donate-tk{
    padding-left:21%;
    padding-top: 2.5%;
    
}
#donate-200tk{
    color: rgb(250, 38, 1);
    background-color: rgba(255, 99, 71, 0.184);
   border: 2px solid rgb(243, 54, 21);

}

